/*CSS file for the qualtity page of the RiverNET web application.
Written by: Jonah Hlastala, Anna Jinneman & William Roberts 
Last updated: 4/29/2020 */
img {
	list-style-type: none;
	float: left;
	padding-top: 10px;
	padding-left: 25px;
	max-height: 15%;
	max-width: 15%;
}

/*Intended for the title of a page*/
h1 {
	font-size: 60px;
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
	color: white;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: #b0b0b0;
	float: right;
  	right: 28px;
  	width: 750px;
}

h2{
	font-size: 30px;
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
	position: static;

}


/*Used in the index.HTML page*/
h3 {
	font-size: 60px;
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
	color: white;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: #b0b0b0;
	margin-top: 0px;
	margin-bottom: 15px;
}

h4{
	font-size: 16px;
	font-weight: lighter;
	text-align: center;
	position: static;
	margin-right: 130px;
	margin-left: 130px;
	margin-top: 0px;
	margin-bottom: 0px;

}

/*Used for the YERC logo and title for the page.*/

.header {
  	overflow: hidden;
 	background-color: #3a3a3b;
 	padding: 20px 10px;
 	height: 105px;
}

.header a {
  	float: left;
 	color: white;
  	text-align: center;
  	padding: 20px;
  	text-decoration: none;
 	font-size: 24px;
 	font-family: 'Bebas Neue', sans-serif;
}

/* Logo */
.header a.logo {
	background: url(../img/yerc_logo.png);
	width: 130px;
	height: 130px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-bottom: 0px;
}

.header a:hover {
 	transition: all .2s linear;
	animation-name: link;
	animation-duration: .75s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	color: green;
	cursor: pointer; 
}

.header-right {
  float: right;
}


/*Styling for the Jar form (entry sets, box sizes, etc.)*/
#entrySet {
	text-align: center;
	padding: 10px;
}

#jarNum{
	position:absolute;
}

body {
	color: white;
	font-size: 18px;
	text-align: center;
}

form {
	background-color: #4B4B4B;
	border: 1px solid #f1f1f1;
	margin-top: 0px;
}

input {
	width: 50px;
	margin-right: 25px;
}

#collector, #analyst, #enterer {
	width: 200px;
}

/*General button styling.*/
button {
	background-color: white;
	border-style: solid;
	border-color: white;
	color: black;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: auto;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 50px;
	cursor: pointer; 
	border-radius: 4px;
}

button:hover {
	background-color: green;
	border-style: solid;
	border-color: green;
	color: white;
}

button a:link, button a:visited {
	color: black;
	text-decoration: none;
}


.backButton:hover {
	background-color: red;
	border-color: red;
	
}

.findDate {
	font-size: 30px;
	
}


/*Styling for the YERC logo.*/
.logo {
	}

/*Below is the CSS needed for the side-by-side buttons*/
.col {
	float: left;
	width: 33%;
}

.col2 {
	float: left;
	width: 50%;
}

.buttonRow:after {
	display: table;
	clear: both;
}

.right {
	float: right;
}


/* Below is used for the Jar form pop-up*/

.form-popup {
  display: none;
  border: 1px solid #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/*Stuff for pop-up*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 15px;
  width: 200px;
  background-color: black;
  font-family: serif;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
 

  position: absolute;
  z-index: 1;

}


.tooltip:hover .tooltiptext {
	transition-delay:0.5s;
	visibility: visible;
}

.tooltip .tooltiptext::after {
  	content: " ";
  	position: absolute;
  	top: 100%; 
  	left: 50%;
  	margin-left: -5px;
  	border-width: 5px;
 	border-style: solid;
  	border-color: black transparent transparent transparent;
}

